<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="1e797ab6-158c-47c5-9dcd-d4fe803be069"
	  Publisher="CN=danie"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="1e797ab6-158c-47c5-9dcd-d4fe803be069" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>FluentHwInfo</DisplayName>
		<PublisherDisplayName>danie</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Fluent HwInfo"
			  BackgroundColor="transparent"
			  Square44x44Logo="Assets\Square44x44Logo1.png" Square150x150Logo="Assets\Square150x150Logo1.png" Description="A modern hardware monitoring tool for Windows 11">
				<uap:SplashScreen Image="Assets\SplashScreen1.png" />
				<uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>